/*!
 * Custom CSS
 *
 * Copyright 2013 Matt DuPre
 *
 * Designed and built by Matt DuPre.
 */

.main_image {
	display: block;
	margin: auto;
	height: auto; 
	width: auto; 
	max-height: 300px; 
	max-width: 300px;
}

.nav {
  color: #393939;
  
  text-align: center;

}

.navbar-inner {
  min-height: 0px;
  max-height: 250px;  
  background-color: #CC9999;
  background-image: none;
  background-repeat: no-repeat;
  border: 1px solid #d4d4d4;

}

.header {
 	font-family: 'Molle', cursive;
 	text-align: center;
 	
 }

.sub-header {
	color: darkred;
	text-align: center;
}

.p1, .p2 {
	font-family: 'Special Elite', cursive;
	color: black;
	font-size: 18px;
	max-width: 500px;
text-align: center;
	margin: auto;
	padding: 25px;
}

.p2 {
	padding: 10px;

}